.linkedin-cookies/
node_modules/
.DS_Store
__pycache__/
*.pyc
data/jobs.db

## Project folders
companies/*
backups/*
data/*
projects/*
scripts/*

tech-interview-archive/*
practice/*

opencode.json
package-lock.json
package.json